 <p><img alt="Colaboratory logo" height="45px" src="https://www.quantreo.com/wp-content/uploads/2021/10/Original-on-Transparent.png" align="left" hspace="10px" vspace="0px"></p>

 # Importation of Data
Importing the data is the most important thing. Indeed, bad data could let us make wrong decisions on the strategies to use and thus lose money. We are going to see the finance library which will allow us to import the prices of yahoo finance extremely easily. However, this ease has a price. Sometimes the yahoo data is of poor quality on some assets. 
<br>
<br>


**It is imperative to verify the trading strategies created by using your broker's data afterwards. <br>
! ALL TICKER NAMES ARE THE SAME AS THOSE ON YAHOO FINANCE WEBSITE**

<br>

### Content
* Yahoo finance library
* Some Others way

</br>


💰Join our community: https://discord.gg/wXjNPAc5BH

📚Read our book: https://www.amazon.com/gp/product/B09HG18CYL 

🖥️Quantreo's YouTube channel: https://www.youtube.com/channel/UCp7jckfiEglNf_Gj62VR0pw

In [ ]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.66-py2.py3-none-any.whl (25 kB)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Collecting lxml>=4.5.1
  Downloading lxml-4.6.4-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 19.8 MB/s
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.10.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Installing collected packages: lxml, yfinance
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed lxml-4.6.4 yfinance-0.1.66

# Section1: Yahoo finance library

In [ ]:
# Import yfinance library
import yfinance as yf

In [ ]:
# Most simple importation
yf.download("GOOG")

[*********************100%***********************]  1 of 1 completed

                   Open         High  ...    Adj Close    Volume
Date                                  ...
2004-08-19    49.813290    51.835709  ...    49.982655  44871361
2004-08-20    50.316402    54.336334  ...    53.952770  22942874
2004-08-23    55.168217    56.528118  ...    54.495735  18342897
2004-08-24    55.412300    55.591629  ...    52.239197  15319808
2004-08-25    52.284027    53.798351  ...    52.802086   9232276
...                 ...          ...  ...          ...       ...
2021-11-08  3000.000000  3020.689941  ...  2987.030029    919400
2021-11-09  2994.919922  3007.570068  ...  2984.969971    843800
2021-11-10  2960.195068  2974.000000  ...  2932.520020   1135400
2021-11-11  2942.139893  2970.044922  ...  2934.959961    623200
2021-11-12  2956.629883  2997.189941  ...  2992.909912    852000

[4341 rows x 6 columns]

In [ ]:
# Most simple importation
ticker_list = ["GOOG", "EURUSD=X", "^GSPC"]
yf.download(ticker_list)

[*********************100%***********************]  3 of 3 completed

           Adj Close               ...     Volume
            EURUSD=X         GOOG  ...       GOOG         ^GSPC
Date                               ...
1950-01-03       NaN          NaN  ...        NaN  1.260000e+06
1950-01-04       NaN          NaN  ...        NaN  1.890000e+06
1950-01-05       NaN          NaN  ...        NaN  2.550000e+06
1950-01-06       NaN          NaN  ...        NaN  2.010000e+06
1950-01-09       NaN          NaN  ...        NaN  2.520000e+06
...              ...          ...  ...        ...           ...
2021-11-08  1.156885  2987.030029  ...   919400.0  3.465720e+09
2021-11-09  1.159152  2984.969971  ...   843800.0  3.110230e+09
2021-11-10  1.159555  2932.520020  ...  1135400.0  3.581630e+09
2021-11-11  1.148594  2934.959961  ...   623200.0  2.623140e+09
2021-11-12  1.145082  2992.909912  ...   852000.0  2.865790e+09

[18249 rows x 18 columns]

In [ ]:
# Personalize date range
yf.download(ticker_list, start="2000-01-01", end="2010-01-01")

[*********************100%***********************]  3 of 3 completed

           Adj Close                           ...   Volume
            EURUSD=X        GOOG        ^GSPC  ... EURUSD=X       GOOG         ^GSPC
Date                                           ...
2000-01-03       NaN         NaN  1455.219971  ...      NaN        NaN  9.318000e+08
2000-01-04       NaN         NaN  1399.420044  ...      NaN        NaN  1.009000e+09
2000-01-05       NaN         NaN  1402.109985  ...      NaN        NaN  1.085500e+09
2000-01-06       NaN         NaN  1403.449951  ...      NaN        NaN  1.092300e+09
2000-01-07       NaN         NaN  1441.469971  ...      NaN        NaN  1.225200e+09
...              ...         ...          ...  ...      ...        ...           ...
2009-12-28  1.437505  310.272034  1127.780029  ...      0.0  3408528.0  2.716400e+09
2009-12-29  1.434309  308.543518  1126.199951  ...      0.0  2860281.0  2.491020e+09
2009-12-30  1.434206  310.202301  1126.420044  ...      0.0  2942187.0  2.277300e+09
2009-12-31  1.432706  308.832428  1115.099976  ...      0.0  2448744.0  2.076990e+09
2010-01-01  1.438994         NaN          NaN  ...      0.0        NaN           NaN

[2572 rows x 18 columns]

In [ ]:
# Personalize data interval
yf.download(ticker_list, start="2000-01-01", end="2010-01-01", interval="1mo")

[*********************100%***********************]  3 of 3 completed

           Adj Close              ...       Volume
            EURUSD=X        GOOG  ...         GOOG         ^GSPC
Date                              ...
2000-01-01       NaN         NaN  ...          NaN  2.149440e+10
2000-02-01       NaN         NaN  ...          NaN  2.091200e+10
2000-03-01       NaN         NaN  ...          NaN  2.615620e+10
2000-04-01       NaN         NaN  ...          NaN  2.010646e+10
2000-05-01       NaN         NaN  ...          NaN  1.989830e+10
...              ...         ...  ...          ...           ...
2009-09-01  1.465502  246.999191  ...  102542121.0  1.122955e+11
2009-10-01  1.473297  267.058990  ...  154927540.0  1.134110e+11
2009-11-01  1.503895  290.411469  ...   82119053.0  8.498153e+10
2009-12-01  1.432706  308.832428  ...   85560102.0  8.951533e+10
2010-01-01  1.387694         NaN  ...          NaN           NaN

[121 rows x 18 columns]

# Some Others way

* **Strengths**
> * Very simple utilization
> * Very easy to find the symbol proposed going to Yahoo Finance website 
> * There are a lot of data. Very useful to create portfolio 

* **Weaknesses**
> * Lot of errors in the data. Thus, we have to use another data source for real trading algorithm

</br>

* Directly importing from the brocker (We will see in the following part)
* AlphaVantage
* MorningStar