In [5]:
import grisbi

aa = grisbi.stock("GE")

print(aa)

aa.get_data()

print(aa)

aa.save_data()

STOCK INFORMATION :
 - Nom      : None
 - Currency : None
 - Valid    : False
 - Period   : None
 - Frequency: None

STOCK INFORMATION :
 - Nom      : General Electric Company
 - Currency : USD
 - Valid    : True
 - Period   : None
 - Frequency: None

In [6]:
aa.get_values_from_csv()

In [8]:
aa.data

                  Open        High         Low       Close    Volume
Date
2017-04-27  210.858486  211.002459  208.914761  209.346695   4282174
2017-04-28  209.490626  209.922560  208.266797  208.698730   3130296
2017-05-01  208.842711  209.994554  208.266804  208.338791   3122054
2017-05-02  208.842704  209.130664  208.122809  208.698730   4388800
2017-05-03  208.194754  210.858386  207.690834  210.426453   3496129
...                ...         ...         ...         ...       ...
2022-04-21   92.949997   93.779999   91.430000   91.720001   4501500
2022-04-22   90.889999   91.300003   88.980003   89.070000   4957500
2022-04-25   88.500000   90.000000   86.580002   89.879997   6903400
2022-04-26   84.949997   85.230003   78.410004   80.589996  28747600
2022-04-27   80.000000   81.750000   79.830101   80.199997   5400114

[1260 rows x 5 columns]